<div class="container">
  <!-- Content here -->
  <h1 id="pageTitle">Chip Master List</h1>
  <div class="row align-items-center">


    <div class="col">

      <div class="card" id="chipList">
        <div class="card-body">
          <h2 class="card-title">Chip Master List</h2>

          <ul>
            {{#each chips}}
            {{#unless removed}}

            <li id="allChipList">{{id}} - {{chipname}}</li>
            {{/unless}}

            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="card" id="chipDashboard">
        <div class="card-body">
          <h2 class="card-title">Add a chip</h2>



          <form id="createchip" class="form-control">
            <textarea type="text" name="chipname" id="chipName"></textarea>
            <textarea type="text" name="sku" id="skuName"></textarea>
            <button type="submit" class="btn btn-success">Add Chip!</button>
          </form>
          
          <h2 class="card-subtitle">Remove a chip</h2>
          <br>
          <form id="updatechip" class="button-size">
            <select name="id" id="removedChip">
              {{#each chips}}
              {{#unless removed}}
              <option value={{this.id}}>{{this.chipname}}</option>
              {{/unless}}
              {{/each}}
            </select>
            <button type="submit" class="btn btn-danger" id="removed">Remove a chip</button>
          </form>

        </div>
      </div>
    </div>

    






    <script type="text/javascript">


    </script>
  </div>