#mainBody {
    background-image: url(../img/Burger.jpg) ;
}

#pageTitle {
text-align: center;
}

#burgerList {
padding: 10%;
}

#allBurgerList{
font-size: 25px;
}

#burgerDashboard {
padding: 10px;
text-align: center;
}

#createburger{
    padding: 10%;
}

#updateburger{
    padding: 5%;
}

#devouredBurger{
    padding: 10%;
}

#eatenBurgers{
    padding: 10%;
}